<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmy.pisp.mapper.CardsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmy.pisp.entity.Cards">
        <id column="card_id" property="cardId" />
        <result column="card_number" property="cardNumber" />
        <result column="card_password" property="cardPassword" />
        <result column="card_name" property="cardName" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>
